.background-title {


   background-image: url(./Back\ to\ School\ \(3000\ x\ 1400\ px\)1.jpg);
   width: 100%;
   height: 100vh;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;




}

header {
   color: #fff;
   background-color: black;
   display: flex;
   justify-content: between;
   width: 100%;
}

header img {
   width: 150px;
   height: 80px;
}

footer {
   background-color: #060606;
   color: #fff;
   padding: 20px;
   text-align: center;
}

.retailers img {
   width: 50%;
   padding: 5px 0;
}
.retailers a {
  text-decoration: none;
}
.retailers p {
   color: black;
 }

@media screen and (max-width: 800px) {
   .background-title {
      background-image: url(images/bts\ mobile.jpg)
   }
}